.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
}

.nav-bar a{
  margin-left: 20px;
  text-decoration: none;
  color: inherit;
}
 .greet{
  text-align: center;
 }
 #me{
  display: block;
  width: 30%;
  /*height: auto;*/
  position: relative;
  left: 35%;
  border-radius: 50%;
 }